body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    
    border: 1px solid red;
}

.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;

    border: 1px solid red;
}

header h2{
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}